body {
  font-family: Arial;
  background: #f5f7fb;
  text-align: center;
}

.container {
  background: white;
  padding: 20px;
  margin: 50px auto;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

input, select {
  width: 90%;
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px 20px;
  background: #2d6cdf;
  color: white;
  border: none;
  border-radius: 5px;
}

.safe {
  color: green;
}

.danger {
  color: red;
}